#landing {
    background-color: mediumpurple;
    /* font-family: 'Lato'; */
}

#goals {
    background-color: #04AA6D;
}

h1 {
    text-align: center;
    font-family: Silom;
}

a {
    font-family: 'Lato';
    text-align: center;
    font-style: italic;
}

p {
    margin: 15px;
}

p.indent {
    text-indent: 45px;
}

figcaption {
    font-family: Krungthep;
    text-align: center;
    padding-top: 1%;
}

/* .fig1 {
    color: #00FF40;
} */

#landing h1 {
    background-color: #FFFF00;
    color: #78b3dd;
}

#landing figcaption {
    color: #ffff00fa;

}

#landing a {
    color: #00FF40;
}

#landing #navbar {
    background-color: #7eafd3;
    text-align: center;
    margin: auto;
    display: flex;
}

#landing #navbar a {
    color: #FFFF00;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.float-container {
    /* border: 3px solid #fff;
    padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 20px; */
}

.colum1 {
    /* width: 50%;
    float: left;
    border: 2px solid red; */
}  

.colum2 {
    /* float: right;
    width: 50%;
    border: 2px solid red; */
}
.colum3 {
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* #landing .colum1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
} */

#navbar {
    width: 100%; /* Full-width */
    overflow: auto; /* Overflow due to float */
    font-family: 'Roboto', sans-serif;
}

#navbar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 36px; /* Increased font size */
}

#navbar a.active {
       background-color: #04AA6D; /* Add an active/current color */
}


/* change img later */
img {
    height: 400px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}

.image1 {
    color: #FFD700;
}

.box1 {
    background-color: #FAF9F6;
    color: black;
    padding: 1%;
}

#about {
    background-color: moccasin;
}

#about h1 {
    color: #127d4b;
}

#about .box2 {
    text-indent: 45px;   
    font-family: 'Times New Roman', Times, serif;
}

#about figcaption {
    color: #127d4b;

}

#about a {
    color: #127d4b;
}

#about #navbar {
    background-color: #20be74;
    text-align: center;
    margin: auto;
    display: flex;
}

#about #navbar a {
    color: #1071f1;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

#goals {
    background-color: #04AA6D;
}

#goals h1 {
    color: yellow;
}

#goals .float-container {
    /* border: 3px solid #fff;
    padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 20px; */
}

#goals figcaption {
    color: yellow;

}

#goals p a {
    color: #008080;
    text-decoration: none;
    font-style: italic;
}

#goals a {
    color: yellow;
}

#goals #navbar {
    background-color: yellow;
    text-align: center;
    margin: auto;
    display: flex;
}

#goals #navbar a {
    color: purple;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

#goals h3 {
    text-align: center;
    color: yellow;
}

#goals .box2 {
    background-color: white;
    margin: 15px;
    padding: 1%;
}

#goals p {
    color: black;
    margin: 15px;
}

/* #hobbies p a:hover {
    background-color: #000;
    color: #02c2c2;
} */

#hobbies {
    background-color: dodgerblue;
}

#hobbies h1 {
    color: yellow;
}

#hobbies .float-container {
    /* border: 3px solid #fff;
    padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 20px; */
}

#hobbies figcaption {
    color: yellow;

}

#hobbies p a {
    color: #008080;
    text-decoration: none;
    font-style: italic;
}

#hobbies a {
    color: yellow;
}

#hobbies #navbar {
    background-color: yellow;
    text-align: center;
    margin: auto;
    display: flex;
}

#hobbies #navbar a {
    color: purple;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

#hobbies h3 {
    text-align: center;
    color: yellow;
}

#hobbies .box2 {
    background-color: white;
    margin: 15px;
    padding: 1%;
}

#hobbies p {
    color: black;
    margin: 15px;
}

#about .box2 {
    background-color: #F8F8FF;
    margin: 15px;
    padding: 1%;
}

#qa {
    background-color: #EDEADE;
}

#qa h3 {
    text-align: center;
}

#qa .float-container {
    /* border: 3px solid #fff;
    padding: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 20px; */
}

#qa figcaption {
    color: blue;

}

#qa a {
    color: blue;
}

#qa #navbar {
    background-color: #17c172;
    text-align: center;
    margin: auto;
    display: flex;
}

#qa #navbar a {
    color: #B22222;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

#qa p {
    padding: 11px;
}

#qa p a {
    color: #B22222;
    text-decoration: none;
}

#qa a {
    color: #B22222;
    text-decoration: underline;
}

#quest, #quest1, #quest2, #quest3, #quest4, #quest5, #quest6, #quest7, #quest8, #quest9 {
    background-color: #17c172;
    color: #B22222;
}

footer {
    position: relative;
    text-align: center;
}

#navbar a {
    font-family: Courier New;
}

a:hover { 
    background-color: #000; /* Add a hover color */
}

/* footer a {
    text-decoration: none;
} */

footer a:hover {
    background-color: #000;
}

.photoLink a {
    text-decoration: none;
    font-style: normal;
}

/* .photoLink {
    background-color: #000;
    padding: 11px;
}

.outerPhoto {
    padding: 0% 20% 0% 30%;
} */

.photoLink img:hover {
    /* border: 5px solid #555; */
    outline: 5px solid white;
    outline-offset: -4px;
}